$_primary-color: #4A4949;

.inputLabel {
  position: absolute;
  left: 14px;
  top: -20px;
  
  width: 174px;
  height: 40px;

  background-color: #FFF;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  z-index: 1;
}

.inputLabel--default,
.inputLabel--heroForm,
.inputLabel--disabled,
.inputLabel--withButton {
  color: $_primary-color;
}
 
.inputLabel--disabled > p {
  opacity: 0.5;
}
 
.inputLabel--withoutLabel {
  visibility: hidden;
}