$border-color: #A5A5A5;

.InputForm {
  width: 589px;
  height: 125px;

  //test
  margin: 20px;
} 
.InputForm__title {
  width: 174px;
  height: 40px;
  font-size: 32px;
  position: absolute;
  left: 40px;
  text-align: center;
  background-color: #FFF;
}
.InputForm__inputSection {
  width: inherit;
  height: 88px;
  margin-top: 23px;
  margin-right: 10px;
  font-size: 24px;
} 

.InputForm__inputSection--style {
  border: 1px solid $border-color;
  border-radius: 15px;
  text-indent: 54px;
}

